.logo {
    position: fixed;
    left: 0px;
    bottom: 10%;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}

img {
    padding-right: 1px;
    width: 70px;
}

/* Small PC Screen */
@media only screen and (max-width:1376px) {
    .logo {
        position: fixed;
        left: 0px;
        bottom: 10%;
        width: 100%;
        background-color: transparent;
        color: white;
        text-align: center;
    }
    
    img {
        padding-right: 1px;
        width: 55px;
    }
}