.text {
    padding-top: 5%;
}

.text span {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#infodl {
    font-weight: 700;
    font-size: 25px;
    visibility: visible;
}

#thanks {
    font-size: 15px;
}

#heart {
    font-size: 17px;
}

/* Small PC Screen */
@media only screen and (max-width:1376px) {  
    .text {
        padding-top: 5%;
    }

    #infodl {
        font-weight: 700;
        font-size: 17px;
    }

    #thanks {
        font-size: 12px;
    }

    #heart {
        font-size: 14px;
    }
}

/* Telefon */
@media only screen and (max-width:768px) {
    .text {
        padding-top: 15%;
    }

    #infodl {
        font-weight: 700;
        font-size: 20px;
    }
}